/* Structural Styles */
body,
html {
    height: 100%;
    width: 100%;
}

section {
    background-color: rgba(0, 0, 0, 0.8);
    border-top: 1px solid white;
}

hr.xp {
    width: 65%;
}

hr {
    margin: auto;
    width: 80%;
    color: white;
}

/* Heading Styles */
h1#name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 400%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    margin: 1%;
    padding-bottom: 20%;
    position: relative;
    top: 15%;
    letter-spacing: 3px;
}

h3#schoolHeading {
    padding-top: 3%;
    margin: 3% 0% 0% 12%;
    display: inline-block;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3#jobHeading {
    padding-top: 3%;
    margin: 3% 0% 0% 13%;
    display: inline-block;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3#codingXp {
    text-align: center;
    text-decoration: underline;
    padding-top: 3%;
    display: block;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3#programs {
    text-align: center;
    text-decoration: underline;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5%;
}

h3.xp {
    text-align: center;
    text-decoration: underline;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2#employment {
    margin-top: 7%;
}

h2.xp {
    margin-top: 5%;
}

h2 {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 160%;
}

h4 {
    display: inline;
    margin: auto;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20.5%;
}

h3#volunteerHeading {
    margin: 5% 0% 0% 13%;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Image Styles */
img.program {
    display: inline-block;
    width: 20%;
    margin: auto;
    padding-left: 10%;
}

img#fireworks {
    width: 15%;
    padding-left: 12%;
}

img#schoolLogo {
    display: inline-block;
    margin: 3% 0% 0% 15%;
    border: 1px solid white;
    float: left;
}

img#jobLogo {
    display: inline-block;
    margin: 6% 0% 0% 16%;
    border: 1px solid white;
    float: left;
    width: 20%;
}

img#volunteerLogo {
    display: inline-block;
    margin: 6% 0% 0% 16%;
    border: 1px solid white;
    float: left;
    width: 20%;
}

/* Paragraph Styles */
p#schoolCaption {
    margin: 3% 10% 0% 30%;
    text-indent: 3%;
}

p#jobCaption {
    margin: 3% 10% 0% 30%;
    text-indent: 3%;
}

p#volunteerSummary {
    margin: 3% 10% 0% 30%;
    text-indent: 3%;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0%;
    padding-bottom: 5%;
}

/* List Styles */
ul.xp {
    list-style-type: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

li.xp {
    margin-right: 3%;
    padding-top: 1%;
}

/* Header and Navigation Styles */
header {
    background-color: rgba(0, 0, 0, 0.8)
}

header nav {
    display: table;
    width: 98.7%;
    padding: 10px;
    border-bottom: 1px solid white;
}

header nav ul {
    display: table-row;
    list-style-type: none;

}

header nav ul li {
    display: table-cell;
    text-align: center;
    width: 33%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

nav ul li a:hover {
    color: cyan;
    transition: .2s;
}

/* Progress Bar Styles */
div#progressHTML {
    width: 60%;
    background-color: transparent;
    margin: auto;
    text-align: center;
}

div#progressBarHTML {
    width: 0%;
    height: 20px;
    background-color: white;
}

div#progressCSS {
    width: 60%;
    background-color: transparent;
    margin: auto;
    text-align: center;
}

div#progressBarCSS {
    width: 0%;
    height: 20px;
    background-color: white;
}

div#progressJava {
    width: 60%;
    background-color: transparent;
    margin: auto;
    text-align: center;
}

div#progressBarJava {
    width: 0%;
    height: 20px;
    background-color: white;
}

div#progressJS {
    width: 60%;
    background-color: transparent;
    margin: auto;
    text-align: center;
}

div#progressBarJS {
    width: 0%;
    height: 20px;
    background-color: white;
}

div#progressCSharp {
    width: 60%;
    background-color: transparent;
    margin: auto;
    text-align: center;
}

div#progressBarCSharp {
    width: 0%;
    height: 20px;
    background-color: white;
}

button#progressButton {
    background-color: transparent;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin: auto;
    border: 1px solid white;
}

button#progressButton:hover {
    color: cyan;
    border-color: cyan;
}

div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}