body,
html {
    height: 100%;
}

h1#name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 400%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    margin: 1%;
    padding-bottom: 20%;
    position: relative;
    top: 15%;
    letter-spacing: 3px;
}

h3#schoolHeading {
    padding-top: 3%;
    margin: 3% 0% 0% 12%;
    display: inline-block;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3#jobHeading {
    padding-top: 3%;
    margin: 3% 0% 0% 19%;
    display: inline-block;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3.xp {
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img#schoolLogo {
    display: inline-block;
    margin: 3% 0% 0% 15%;
    border: 1px solid white;
    float: left;
}

img#jobLogo {
    display: inline-block;
    margin: 3% 0% 0% 18%;
    border: 1px solid white;
    float: left;
}

p#schoolCaption {
    margin: 3% 10% 0% 30%;
    text-indent: 3%;
}

p#jobCaption {
    margin: 3% 10% 0% 30%;
    text-indent: 3%;
}

h2#employment {
    margin-top: 7%;
}

h2 {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 160%;
}

hr.xp {
    width: 65%;
}

hr {
    margin: auto;
    width: 80%;
    color: white;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.8); */
    padding-left: 10%;
    padding-right: 10%;
    margin: 0%;
    padding-bottom: 5%;
}

header {
    background-color: rgba(0, 0, 0, 0.8)
}

header nav {
    display: table;
    width: 98.7%;
    padding: 10px;
    border-bottom: 1px solid white;
}

header nav ul {
    display: table-row;
    list-style-type: none;

}

header nav ul li {
    display: table-cell;
    text-align: center;
    width: 33%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

nav ul li a:hover {
    color: cyan;
    transition: .2s;
}

section {
    background-color: rgba(0, 0, 0, 0.8);
    border-top: 1px solid white;
}